{% extends 'base.html'%} {% block head %}
<title>ABOUTS</title>
{% endblock %} {% block body %}
<div class="about-section">
  <div style="display: grid; place-items: center"><h2>About Us</h2></div>
  <hr />
  <div style="display: grid; place-items: center;background-color: darkgray;">
    <p>
      Tech Watt is a company that is aim at helping individuals to learn
      technology in an easy way. We offer education help and anything relating
      to software.
    </p>
  </div>
</div>
<hr />
<div style="display: grid; place-items: center">
  <a class="btn btn-primary" href="/" role="button" >
    Home &raquo;
  </a>
</div>
<hr />

{% endblock %}
